streamlit
streamlit==0.89.0  # as of my last update, you can use the latest version
tensorflow==2.6.0  # this will also install Keras which is now part of TensorFlow
pillow==8.3.2      # for PIL (Python Imaging Library), used by Streamlit for image display
requests==2.26.0   # for fetching images from URLs
numpy
pandas